{% load static %}
<!doctype html>   
<html>  <!--etiqueta que encierra todo el documento HTML-->

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/header.js" language="javascript" type="text/javascript"></script>
    <LINK REL=StyleSheet HREF="{%static 'css/styles.css'%}" TYPE="text/css" MEDIA=screen>
        <link rel=StyleSheet type="text/css" href="{% static 'css/header.css' %}">
        <link rel=StyleSheet type="text/css" href="{% static 'css/perfil.css' %}">
    <title>Desarrollo web</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
    <!--Cabezote-->
    <header class="header">
        <div class="navegacion">
            <div class="logo">
                <a class=" " ><i class="fab fa-instagram"></i></a>
                <a class="v1"></a>
                <a>Instagram</a>
            </div>
            <div class="Barra_busqueda">
                <input  type="text" placeholder="Buscar" value="" required>
            </div>
            <div class="Iconos">
                <a class="Home" ><i class="fas fa-home"></i></a>
                <a class="Explorar" ><i class="far fa-compass"></i></a>
                <a class="Likes" ><i class="far fa-heart"></i></a>
                <a class="Perfil"><i class="far fa-user"></i></a>
            </div>
        </div>
        

    </header>


<!--Barra de navegacion-->

    <nav>
        <ul>
            <li id="hist1" class="botones"></li>
            <li id="hist2" class="botones"></li>
            <li id="hist3" class="botones"></li>
            <li id="hist4"class="botones"></li>
            <li id="hist5" class="botones"></li>
            <li id="hist6" class="botones"></li>
            <li id="hist7" class="botones"></li>
            <li id="hist8" class="botones"></li>
            <li id="hist9"class="botones"></li>
            <li id="hist10" class="botones"></li>
            <li id="hist11" class="botones"></li>
            <li id="hist12" class="botones"></li>
            <li id="hist13" class="botones"></li>
            <li id="hist14"class="botones"></li>
            <li id="hist15" class="botones"></li>
            <li id="hist16" class="botones"></li>
            <li id="hist17" class="botones"></li>
        </ul>
    </nav>

    <!--Section-->
    <section>

        <section class="contenido">
            {%block content%}
            {% for post in posts %}
            <div class="card">
                <div class="card_header">
                    <div class="imagen_perfil">
                        <img class="foto_perfil" src="{{ post.user.picture }}" alt="{{ post.user.name }}">    
                    </div>
                    <div class="info_publicacion">
                        <div class="nombre">{{ post.user.name }}</div>
                        <div class="localidad">{{ post.timestamp }} </div>
                    </div>
    
                    <div class="opciones"><i class="fas fa-elipsis-h"></i></div>
                </div>
                <div class="post_imagen">
                    <img class="foto_post" src="{{ post.photo }}" >
                   
                </div>
                <div class="Reacciones">
                    <a href=""><i class="far fa-heart"></i></a>
                    <a href=""><i class="far fa-comment"></i></a>
                    <a href=""><i class="far fa-share-square"></i></a>
                    <a href=""><i class="far fa-bookmark"></i></a>
                </div>
                <div class="likes"> 
                    <a > 200  me gusta </a>
                </div>
                <div class="Pie_foto">
                    <a href=""><h2>{{ post.title }}</h2></a>
                    <span><p> {{ post.titulo }}</p></span>
                </div>
                <div class="dia_publicacion">
                    {{post.created_date | timesince}} ago 
                </div>
            </div>
            {%endfor%}
            {%endblock%}
        </section>
        <!--pie de pagina-->
        <footer></footer>
    </body>
    
    
    </html>
    
    