{% extends 'Insta/base.html' %}
{%block content%}
{% for post in posts %}
        <div class="card">
            <div class="card_header">
                <div class="imagen_perfil">

                </div>
                <div class="info_publicacion">
                    <div class="nombre">{{post.autor}}</div>
                    <div class="localidad">Toluca </div>
                </div>

                <div class="opciones"><i class="fas fa-elipsis-h"></i></div>
            </div>
            <div class="post_imagen">
                {%if post.imagen%}
                <img src="{{post.imagen.url}}" alt=""> 
            {%endif%}
            </div>
            <div class="Reacciones">
                <a href=""><i class="far fa-heart"></i></a>
                <a href=""><i class="far fa-comment"></i></a>
                <a href=""><i class="far fa-share-square"></i></a>
                <a href=""><i class="far fa-bookmark"></i></a>
            </div>
            <div class="likes"> 
                <a > 200  me gusta </a>
            </div>
            <div class="Pie_foto">
                <a href=""><h2>{{post.autor}}</h2></a>
                <span><p>{{post.caption}}</p></span>
            </div>
            <div class="dia_publicacion">
                {{post.Fecha_publicacion | timesince}}ago
            </div>
        </div>

{% endfor %}
{%endblock content%}