header{
    background-color: red;/*Si no te gustan los colores 
                                eres libre de cambiarlos*/
    width:100% ;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}
nav{
    background-color: blue;/* De hecho por favor pon colores
                             mas bonitos, tienes completa libertad*/
    width:100% ;
    height: 30px;       /*en los altos de cada seccion dependera de lo que contenga 
                        aqui solo use altos provicionales para dar el formato*/
    position: absolute;

    top:100px;
    left: 0px;

}
.cuerpo{
    background-color: white;
    width: 100%;
    top: 140px;
    position: absolute;
    left: 0px;
}
.sec1{
    background-color: blueviolet;
    width:80% ; /* Siempre hay que usar porcentajes en los tamaños de ancho
                    para que no importe el tamaño de la computadora
                    o de la ventana, siempre se guarden las proporciones */
    
    display: inline-block;
    height: 400px;
    position: absolute;
}

aside{
    background-color: chocolate;
    width: 19% ;
    height: 400px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.art1{
    background-color: brown;
    width:98% ; /*Los porcentajes dependen del contenedor padre entonces
                    como sec1 tiene tamaño 80% art1 y 2 son el 98% de 80%*/
    position: absolute;
    margin: 1%;
    height: 160px;
}
.art2{
    background-color: chartreuse;
    width:98% ;
    height: 160px;
    position: absolute;
    bottom: 10px;
    margin: 1%;
}
footer{
    background-color: black;
    height: 100px;
    color: white;
    width:100% ;
    position: absolute;
    top:550px;
    left: 0px;
}