*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;

}


.header{
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background:rgb(255, 255, 255);
    position: fixed;
    z-index: 3;
}

.estorbo{
	height: 70px;
}

.navegacion{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /*text-align: center;*/
    height: 100%;
   
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*position: absolute;
    top: 11px;
    left: 120px;
    width: 150px;
    height: 30px;*/
}
.logo a{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.v1{
    border-left: 1.5px transparent #111111;
    height: 20px;
    margin-left: 10px;
}
.Barra_busqueda{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    color:#999;
    cursor: text;
    text-align: center;
   /* position: absolute; 
    top: 11px;
    height: 30px;*/

}

.Iconos{
    display: flex;
}
.Iconos a{
   padding-left: 30px;
   font-size: 25px;
   font-weight: lighter;
}
