{% load static %}
<!doctype html>   
<html>  <!--etiqueta que encierra todo el documento HTML-->

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=StyleSheet type="text/css" href="{% static 'css/styles.css' %}">
    <link rel=StyleSheet type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
   <!--  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <title>Desarrollo web</title>
    
    </head>
<body>
    <!--Cabezote-->
    <header class="header">
        <div class="navegacion">
            <div class="logo">
                <a class=" " ><i class="fab fa-instagram"></i></a>
                <a class="v1"></a>
                <a>Instagram</a>
            </div>
            <div class="Barra_busqueda">
                <input  type="text" placeholder="Buscar" value="" required>
            </div>
            <div class="Iconos">
                <a class="Home" ><i class="fas fa-home"></i></a>
                <a class="Explorar" ><i class="far fa-compass"></i></a>
                <a class="Likes" ><i class="far fa-heart"></i></a>
                <a class="Perfil"><i class="far fa-user"></i></a>
            </div>
        </div>
        

    </header>
<!--Barra de navegacion
    <nav>
        <ul>
            <li id="hist1" class="botones"></li>
            <li id="hist2" class="botones"></li>
            <li id="hist3" class="botones"></li>
            <li id="hist4"class="botones"></li>
            <li id="hist5" class="botones"></li>
            <li id="hist6" class="botones"></li>
            <li id="hist7" class="botones"></li>
            <li id="hist8" class="botones"></li>
            <li id="hist9"class="botones"></li>
            <li id="hist10" class="botones"></li>
            <li id="hist11" class="botones"></li>
            <li id="hist12" class="botones"></li>
            <li id="hist13" class="botones"></li>
            <li id="hist14"class="botones"></li>
            <li id="hist15" class="botones"></li>
            <li id="hist16" class="botones"></li>
            <li id="hist17" class="botones"></li>
        </ul>
    </nav>-->


   <!--Seccion para las publicaciones-->
   <section class="contenido">
    {%block content%}

    {%endblock%}
|   </section>

<!--Seccion para las publicaciones de perfil-->
    <section class="contenido2">
        {%block content%}
        {%endblock%}
    </section>

    
    <!--pie de pagina-->
    <footer class="foother"> 
            <p>
               Este es el pie de pagina 
            </p>
        </footer>
</body>


</html>