
<!doctype html>   
<html>  <!--etiqueta que encierra todo el documento HTML-->

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/codigo.js" language="javascript" type="text/javascript"></script>
    <LINK REL=StyleSheet HREF="../static/css/styles.css" TYPE="text/css" MEDIA=screen>
    <title>Desarrollo web</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    <!--Cabezote-->
    <header>
        <input id="texto" type="text" placeholder="Buscar" value="" required>
        <div id="logo">Instagram</div>
        <div id="icono1" class="redes"></div>
        <div id="icono2" class="redes"></div>
        <div id="icono3" class="redes"></div>

    </header>
<!--Barra de navegacion-->

    <nav>
        <ul>
            <li id="hist1" class="botones"></li>
            <li id="hist2" class="botones"></li>
            <li id="hist3" class="botones"></li>
            <li id="hist4"class="botones"></li>
            <li id="hist5" class="botones"></li>
            <li id="hist6" class="botones"></li>
            <li id="hist7" class="botones"></li>
            <li id="hist8" class="botones"></li>
            <li id="hist9"class="botones"></li>
            <li id="hist10" class="botones"></li>
            <li id="hist11" class="botones"></li>
            <li id="hist12" class="botones"></li>
            <li id="hist13" class="botones"></li>
            <li id="hist14"class="botones"></li>
            <li id="hist15" class="botones"></li>
            <li id="hist16" class="botones"></li>
            <li id="hist17" class="botones"></li>
        </ul>
    </nav>

    <!--Section-->
    <section>
        <aside id="izq"></aside>
        <article>
            <br><br>
                <div class="posts_contenedor">
                    <div class="posts_row">
                        {% for post in posts %}
                        <div class="cont_post">
                            <div class="media">
                                <img class="foto_perfil" src="{{ post.user.picture }}" alt="{{ post.user.name }}">
                                
                                    <h5 class="nombre_usuario">{{ post.user.name }}</h5>
                                    <h6 class="fecha_post">{{ post.timestamp }}</h6>
                               
                            </div>
                            <img class="foto_post" src="{{ post.photo }}" alt="{{ post.title }}">
                            <h6 class="titulo_post">{{ post.title }}</h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </article>
        <aside id="der"></aside>
    </section>
    <!--pie de pagina-->
    <footer></footer>
</body>


</html>



