{% load static %}
<!doctype html>   
<html>  <!--etiqueta que encierra todo el documento HTML-->

    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/header.css'%}"> 
        <link rel="stylesheet" href="{% static 'css/perfil.css'%}"> 
        <link rel="stylesheet" href="{% static 'css/Registro.css'%}">
        <title>Desarrollo web</title>   
    </head>
    <body>
        
        <section class="Contenido_b">
            <div class=" "> 
                <form method="POST" action="{%url 'login' %}" class="Contenido_login">
                    {%csrf_token %}
                    
            
                
                   
            
                    <div style="padding: 0px 30px 26px 30px;">
                        <img src="{% static 'media/users/pictures/logo.png'%}" class="logo_ins">
                        {% if error %}
                        <p style="color: red;">{{ error }}</p>
                        {% endif%}
                     
                        <div >
                            <input class="entradas" type="text" placeholder="Username" name="username">
                            <input class="entradas" type="password" placeholder="password" name="password">
                            <button type="submit" class="boton">Iniciar Sesion</button>
                        </div>
                    </div>
                </form>
                <div class="text_boton">
                    <span>¿No tienes una cuenta?<a href="http://localhost:8000/registro/">Registrate</a></span>
                </div>
            </div>
        </section>
    </body>
</html>