{% extends 'Insta/base.html' %}
{%block content%}
        <section class="contenido2">  
    <!--Parte de la informacion del perfil-->
            <div class="info_perfil">
                    <div class="perfil_info">
                        <div class="sub_perfil_info">
                            <div class="imagen_perfil2">
                                <img src="  debe ir la imagen de perfil " alt="">
                            </div>
                            <div class="username">
                                <p class="txt-username">Debe ir el nombre de usuario </p>
                            </div>
                            <div class="edit_perfil">
                                <a class="link_edit" href="">Editar Perfil</a>
                            </div>
                             <div class="buttonconfig">
                                  <span class="Configuracion" id="btnconfig"> <i class="fas fa-cog"></i></span>
                                       <!--margin 0 10px -->
                            </div>

                            <section class="info_follows">
                                <div>
                                    <span>6</span> Publicaciones
                                </div>
                                <div>
                                    <span>50</span> Seguidores
                                </div>
                                <div>
                                    <span>30</span> Seguidos
                                </div>
                            </section>

                            <section class="info_nombre">
                                <div>
                                    <h4 class="text_nombre">
                                        <p>nombre completo del usuario </p> <!--margin-botton: 5px-->
                                    </h4>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- fin informacion del perfil -->
                {% for post in posts %}
                <!-- inicia publicaciones del perfil -->
                <div class="publicaciones" styles="">
                    <section class="post_list">
                        <a class="post" href="">
                            <div class="post_imagen">
                                <img src="{{post.imagen}}">
                            </div>
                            <div class="overlay">
                                <span class="icon-heart"><i class="far fa-heart"></i> 20</span>
                                <span class="icon-bubble2"><i class="far fa-comment"></i> 20</span>
                            </div>
                        </a>
                        
                    </section>
                </div>  
            </div>    
        </section>
   {% endfor %}

        <div class="estorbo"></div>
     
   {%endblock content%}

 