<!doctype html>   
<html>  <!--etiqueta que encierra todo el documento HTML-->

    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=StyleSheet type="text/css" href="C:\Users\Ethel\Documents\Desarrollo\Proyecto\styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="C:\Users\Ethel\Documents\Desarrollo\Proyecto\header.css"> 
        <link rel="stylesheet" href="C:\Users\Ethel\Documents\Desarrollo\Proyecto\perfil.css"> 
        <link rel="stylesheet" href="C:\Users\Ethel\Documents\Desarrollo\Proyecto\Registro.css">
        <title>Desarrollo web</title>   
    </head>
    <body>
        <section class="Contenido_b">
            <div class=" "> 
                <form action="" class="Contenido_login">
                    <div style="padding: 0px 30px 26px 30px;">
                        <img src="C:\Users\Ethel\Documents\Desarrollo\Proyecto\Instagram_Project\Media\logo.png" class="logo_ins">
                        <h1 class="titulo">Registrate para ver fotos de tus amigos</h1>
                        <div >
                            <input class="entradas" type="text" placeholder="Email">
                            <input class="entradas" type="text" placeholder="Nombre Completo">
                            <input class="entradas" type="text" placeholder="Nombre de Usuario">
                            <input class="entradas" type="password" placeholder="Contraseña">
                            <button class="boton">Registrarte</button>
                        </div>
                    </div>
                </form>
                <div class="text_boton">
                    <span>¿Tienes una cuenta?<a href="">Entrar</a></span>
                </div>
            </div>
        </section>
    </body>
</html>